$purple: #884ffc !default;
$primary: $purple !default;
$blue: #007bff !default;
$link-color: $blue !default;
$component-active-bg: $purple !default;
$custom-control-indicator-checked-disabled-bg: rgba($blue, 0.5) !default;
$progress-bar-bg: $blue !default;
$gray-200: #e9ecef !default;
$gray-100: #f8f9fa !default;
$light: $gray-200 !default;
$secondary: $gray-200 !default;

@import "bootstrap/scss/bootstrap.scss";

html,
body,
.react-wrapper {
  width: 100%;
  display: flex;
  height: 100%;
  overflow: hidden;
  font-size: 0.95rem;
}

a:not([href]) {
  color: $link-color;
  text-decoration: $link-decoration;
  background-color: transparent; // Remove the gray background on active links in IE 10.

  @include hover() {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

.dropdown-menu {
  font-size: 0.92rem !important;
}
.dropdown-item {
  padding: 0.25rem 0.95rem !important;
}
pre {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #f7f7f9;
  border-radius: 3px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: normal;
}

.inline {
  display: inline !important;
}

a,
button,
.btn {
  outline: none !important;
}

.btn-light {
  .caret,
  .fa,
  .fal,
  .far,
  .fab {
    color: #6a717c;
  }
}

.btn-custom-light {
  background-color: #fff;
  color: #222;
  border: 1px solid #aeaeae;
  &:hover {
    background-color: #f2f4f5;
  }
}

.pointer {
  cursor: pointer;
}

.s26 {
  width: 26px;
  height: 26px;
}

.s32 {
  width: 32px;
  height: 32px;
}

.bs-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: 0.25rem;
  background: #f7f7f9;
  border-radius: 0.25rem;
  position: relative;
  word-break: break-all;
  border-top-color: #f7f7f9;
  border-right-color: #f7f7f9;
  border-bottom-color: #f7f7f9;
  .loading-page-progress-bar {
    position: absolute;
    top: 0px;
    left: 0px;
  }
}

.bs-callout.large {
  font-size: 16px;
}

.bs-callout.with-icon {
  display: flex;
  align-items: baseline;
  .fa,
  .fal,
  .far {
    font-size: 15px;
    margin-top: 4px;
    margin-right: 8px;
  }
}

.bs-callout-danger {
  border-left-color: #e02d0d;
}
.bs-callout-warning {
  border-left-color: #fb9e00;
}
.bs-callout-info {
  border-left-color: #884ffc;
}
.bs-callout-success {
  border-left-color: #14ce95;
}

.dropdown-menu li a {
  padding: 6px 12px !important;
  font-size: 13px;
  &:hover {
    background: #f5f5f5 !important;
  }
}

ul.nav-links {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  padding: 0px 15px;
  margin: 0px;
  font-size: 12.5px;
  background: #fafafa;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 6px 15px;
  height: 36px;
  min-height: 36px;
  color: #888;
  align-items: center;
  li {
    font-weight: bold;
    color: #888;
    margin-right: 10px;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    line-height: 16px;
    a {
      color: #888;
      text-decoration: none !important;
    }
  }
  li.active,
  li:hover {
    border-bottom: 1px solid #fb9e00;
    color: #333;
    a {
      color: #333;
    }
  }
}

.nothing-here-block {
  padding: 13px;
  text-align: center;
}

.modal-content {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: none !important;
}

.inline {
  display: inline-block;
}

.avatar {
  border-radius: 50%;
}

.navbar-top {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: inline-flex;
  align-items: center;
  .btn-nav {
    margin: 0px 0px 0px 10px !important;
    display: inline-flex;
    .btn {
      vertical-align: inherit;
    }
  }
}

.table > thead > tr > th {
  border-width: 1px;
}

.label-orange {
  background: #fb9e00;
}
.label-primary {
  background: #884ffc;
}
.label-success {
  background: #14ce95;
}

.label-danger {
  background: #d9534f;
}

.label-light-grey {
  background: #b5b5b5;
}

.label-warning {
  background: #8a6d3b;
}

.text-success {
  color: #17c691;
}

.text-danger {
  color: #d9534f;
}

.text-light-grey {
  color: #b5b5b5;
}

.text-grey {
  color: #999;
}

.text-primary {
  color: #884ffc !important;
}

.text-dark-grey {
  color: #707070;
}

.ReactVirtualized__Grid,
.ReactVirtualized__List {
  outline: none !important;
}

.ReactVirtualized__Table__headerRow {
  color: #555;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 13px;
  line-height: 1;
  background: #fafafa;
  border-bottom: 1px solid #e5e5e5;
}
.ReactVirtualized__Table__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  border-left: 2px solid transparent;
}

.ReactVirtualized__Table__row:hover {
  background: rgba(0, 0, 0, 0.045);
  border-left-color: #884ffc;
}

.ReactVirtualized__Table__headerTruncatedText {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ReactVirtualized__Table__headerColumn,
.ReactVirtualized__Table__rowColumn {
  margin-right: 10px;
  min-width: 0px;
}
.ReactVirtualized__Table__rowColumn {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ReactVirtualized__Table__headerColumn:first-of-type,
.ReactVirtualized__Table__rowColumn:first-of-type {
  margin-left: 10px;
}
.ReactVirtualized__Table__sortableHeaderColumn {
  cursor: pointer;
}

.ReactVirtualized__Table__sortableHeaderIconContainer {
  display: flex;
  align-items: center;
}
.ReactVirtualized__Table__sortableHeaderIcon {
  flex: 0 0 24px;
  height: 1em;
  width: 1em;
  fill: currentColor;
}

/* React Split Pane */

.Resizer {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

/* List default theme */

.Select-option.is-selected {
  background-color: #884ffc;
  color: #fff;
}
.Select-option.is-focused {
  background-color: #884ffc;
  color: #fff;
}
.is-focused > .Select-control {
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}

/* extend the bootstrap class */
/* refer: https://github.com/twbs/bootstrap/issues/23709 */
.c-pointer {
  cursor: pointer;
}

.modal-600 {
  width: 600px;
  max-width: none !important;
}
.modal-80w {
  width: 80vw;
  max-width: none !important;
}

/* Nav */
.nav-item {
  a {
    color: #888;
    text-decoration: none !important;
  }
}
